################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEFCoreApp/.vs/DbOperationsWithEFCoreApp
/DbOperationsWithEFCoreApp/.vs/ProjectEvaluation
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/bin/Debug/net8.0
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/Migrations
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/appsettings.json
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/obj/Debug/net8.0/EndpointInfo
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/obj/Debug/net8.0/ref
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/obj/Debug/net8.0/refint
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/obj/Debug/net8.0
/DbOperationsWithEFCoreApp/DbOperationsWithEFCoreApp/obj
